<!DOCTYPE html>
<html>
<head>
    <title>Calculator App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="calculator">
        <input type="text" id="expression" placeholder="Enter your expression">
        <button onclick="calculate()">Calculate</button>
        <div id="result"></div>
    </div>

    <button onclick="window.location.href='/graphpage'">Graph Functions</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
